#player_container {
	position: relative;
	border-radius: 20px;
	aspect-ratio: 16/9;
	width: 70%;
	overflow: hidden;
	color: white;
	font-size: medium;
	font-family: sans-serif;
	user-select: none;
}
#player_container.fullscreen {
	border-radius: 0;
}
#video_element {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: red;
}
#video {
	width: 100%;
}
#root {
	display: grid;
	position: absolute;
	grid-template-rows: 60px 1fr 30px 70px;
	inset: 0;
	width: 100%;
	height: 100%;
}
#settings {
	position: absolute;
	right: 10px;
	bottom: 10px;
	border-radius: 10px;
	background-color: #0009;
	width: 35%;
	height: 70%;
	overflow-y: auto;
}
#timeslider_root {
	height: 100%;
}
#controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	padding-inline: 20px;
	height: 100%;
}
#controls > div {
	display: flex;
	align-items: center;
	gap: 10px;
}
.button {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: none;
	border-radius: 9999px;
	background-color: #0009;
	aspect-ratio: 1;
	width: 45px;
	height: 45px;
	line-height: 0;
}
.button::before {
	position: absolute;
	opacity: 0%;
	transition: all ease-out 0.1s;
	inset: 3px;
	border-radius: 9999px;
	background-color: #fff3;
	content: '';
}
.button:hover:before {
	opacity: 100%;
}
.button.time_display {
	padding-inline: 20px;
	aspect-ratio: unset;
	width: unset;
}
::-webkit-scrollbar {
	background-color: transparent;
	width: 8px;
}
::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 100px;
	background-color: #0009;
	width: 2px;
}
::-webkit-scrollbar-track {
	margin: 10px;
}

#overlays_root {
	position: relative;
	justify-content: end;
	align-items: end;
	padding-inline: 20px;
}
#resolution_menu {
	display: flex;
	position: absolute;
	right: 20px;
	bottom: 0;
	flex-direction: column;
	border-radius: 10px;
	background-color: #000000bb;
	width: 270px;
	height: 300px;
	gap: 10px;
	overflow: auto;
	padding: 5px;
	pointer-events: none;
	opacity: 0%;
	transition: all ease-in 50ms;
}
#resolution_menu.open{
	opacity: 100%;
	pointer-events: all;
}
#resolution_menu .title {
	margin: 0;
	border-bottom: 1px solid grey;
	padding: 13px;
}
#resolution_menu .item {
	border-radius: 10px;
	padding: 18px 30px;
}
#resolution_menu .item:hover {
	background-color: #ffffff20;
}

#resolution_menu .item:active {
	background-color: #ffffff30;
}